# Database Configuration
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name

# PgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=your_email@example.com
PGADMIN_DEFAULT_PASSWORD=your_pgadmin_password

# Airflow Configuration
AIRFLOW_USER=your_airflow_user
AIRFLOW_PASSWORD=your_airflow_password

# API Keys
OPENWEATHER_API_KEY=your_openweather_api_key